* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 16px;
}


header {
  margin: 0 auto;
  width: 100%;
  background-color: #E0E0E0;
}


.container {
  margin: 0 auto;
  width: 100%;
  background-color: #FFFFFF;
}


li {
  clear: both;
  padding-top: 5px;
  padding-bottom: 5px;}

.schedule{
  padding-top: 10px;
  padding-bottom: 10px;
}

.route {
  width: 15%;
  padding-left: 5%;
  display: inline-block;
}

.destination {
  width: 50%;
  margin-top: 3%;
  padding-left: 3%;
  display: inline-block
}

.time {
  width: 20%;
  margin-top: 3%;
  padding-left: 3%;
  padding-right: 5%;
  display: inline-block;
}

h1 {
  font-size: 150%;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 200%;
  text-align: center;
}

h2 {
  font-size: 140%;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 130%;
  line-height: 180%;
}
